.create-page {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 95vh;
    background-image: var(--main-background-image);
    background-repeat: no-repeat;
}

.create-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;	
    gap: 20px;
    background-color: var(--secondary-background-color);
    padding: 0px 50px;
    border-radius: 25px;
    margin-right: 320px;
    padding: 40px;
}
.create-title {
    font-weight: 600;
    font-size: 32px;
}

.create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.create-form-textarea {
    min-width: 350px;
    height: 100px;
    border-radius: 15px;
    padding: 10px;
}

.create-form-dropdown {
    width: 150px;
    height: 50px;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
}

.create-form-imput { 
    min-width: 350px;
    min-height: 50px;
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid gray;
    padding-left: 20px;
}

.create-form-submit {
    min-width: 150px;
    min-height: 40px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--button-background-color);
}

.create-form-submit:hover {
    background-color: var(--button-background-color-hover);
    cursor: pointer;
}


@media all and (max-width: 1200px) {
    .create-page {
        justify-content: center;
    }

    .create-form-wrapper {
        margin: 0;
    }
}

@media all and (max-width: 660px) {

    .create-form-wrapper {
        padding: 15px 15px;
    }
}

@media all and (max-width: 400px) {

    .create-form-wrapper {
        padding: 10px;
    }

    .create-form-imput,
    .create-form-textarea {
        min-width: 250px;
    }
}