.edit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-image: var(--main-background-image);
    background-repeat: no-repeat;
}


.edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--secondary-background-color);
    border-radius: 25px;
    margin-left: 400px;
    padding: 40px;
}

.edit-title {
    font-weight: 600;
    font-size: 32px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.edit-form-textarea {
    min-width: 350px;
    min-height: 100px;
    padding: 10px;
    border-radius: 10px;
}

.edit-form-dropdown {
    width: 200px;
    height: 50px;
    font-size: 24px;
    border-radius: 10px;
    padding: 10px;
}

.edit-form-input {
    min-width: 350px;
    min-height: 50px;
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid gray;
    padding-left: 20px;
}

.edit-form-input::placeholder {
    padding-left: 0px;
}

.edit-form-submit {
    min-width: 150px;
    min-height: 40px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--button-background-color);
    border: none;
}

.edit-form-submit:hover {
    background-color: var(--button-background-color-hover);
    cursor: pointer;
}

@media all and (max-width: 1200px) {
    .edit-container {
        margin: 20px 0;
    }
}

@media all and (max-width: 660px) {
    .edit-container {
        margin: 0;
        padding: 10px;
    }
}

@media all and (max-width: 380px) {
    .edit-form-input,
    .edit-form-textarea {
        min-width: 200px;
    }
}