.recipe-card {
    max-width: 320px;
}

.recipe-card-img {
    width: 100%;
    height: 250px;

}

.recipe-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-card-title {
    text-transform: capitalize;
    text-align: center;
    margin: 10px;
}

.recipe-card-owner-name {
    text-align: right;
}

.recipes-title {
    text-align: center;
    margin: 20px;
}