.gallery-main {
    background-color: var(--main-background-color);
    min-height: 95vh;
    padding: 50px;;
}

.gallery-main h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding: 30px;
}

.gallert-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 120px;
    justify-content:space-around;
    padding: 50px 70px;
    margin: 10px;
    background-color: var(--secondary-background-color);
    border-radius: 15px;
}

@media all and (max-width: 1200px) {
    .gallert-categories {
        gap: 10px;
        padding: 20px;
    }
}


@media all and (max-width: 660px) {
    .gallert-categories {
        width: 95%;
    }

    .gallery-main {
        padding:20px 0;
    }
}
