.home {
    background-color: rgb(243, 239, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-image-wrapper {
    width: 100%;
    height: 60vh;

}

.home-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 100%;
}

.content-container {
    width: 80%;
}


.gallery {
    background-color: rgb(252, 252, 252);
    border-radius: 15px;
    margin: 40px 0;
    box-shadow: 0px 0px 6px 1px #0000001c;
    overflow: hidden;

}

.gallery-title {
    display: block;
    margin: 10px auto;
    text-align: center;
    padding: 10px 0;
    font-weight: 600;
    font-size: 28px;
}

.gallery-title:hover{
    text-decoration: underline;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    background-color: var(--secondary-background-color)
}

/* .home-about {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    box-shadow: 0px 0px 6px 1px #0000001c;
    border-radius: 15px;
}

.home-goals {
    background-color: rgb(214, 205, 200);
    flex: 1;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 24px;
    color: rgb(121, 121, 121);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-goals p {
    max-width: 450px;
    padding: 20px;
}

.home-about-img {
    flex: 1;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.home-about-img img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
} */

.home-button-share-recipe {
    border: none;
    padding: 10px 40px;
    background-color: rgb(175, 191, 204);
    margin-bottom: 30px;
    font-size: 24px;
    border-radius: 15px;
    box-shadow: 1px 1px 6px 2px #799eb7;
}

.home-button-share-recipe:hover {
    cursor: pointer;
    background-color: #799eb7;
}