.header {
    background-color: rgb(252, 252, 252);
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: space-between;

}

.links {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin: 0
}

.li {
    list-style: none;
    font-size: 20px;

}

.link {
    text-decoration: none;
    color:rgb(104, 104, 104);
}

.form {
    display: flex;
}


.search {
    margin: 0;
    height: 100%;
    border: none;
    background-color:rgb(175, 191, 204);
    padding: 7px;
    display: flex;
    align-items: center;
}

.search:focus {
    outline: none;
}

.search::placeholder {
    color: rgb(144, 156, 163);
    font-size: 20px;
}

.button {
    border: none;
    background-color: transparent;
    font-size: 22px;
    font-weight: 300;
}

.button:hover {
    cursor: pointer;
}
