.ulNav {
    display: flex;
    justify-content: center;
    background-color: rgb(202, 205, 209);
    padding: 10px 0;
}

.li {
    list-style: none;
    margin-right: 10px;
    
}

.aItem {
    color: rgb(48, 96, 133);
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
}