.register-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 95vh;
    background-image: var(--main-background-image);
    background-repeat: no-repeat;
}


.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: rgb(214, 205, 200);
    padding: 20px 50px;
    border-radius: 25px;
    margin-right: 320px;
}
.register-title {
    font-weight: 600;
    font-size: 32px;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}



.register-form-input { 
    min-width: 300px;
    min-height: 50px;
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid gray;
    padding-left: 20px;
}

.register-form-input::placeholder {
    padding-left: 0px;
}

.register-form-submit {
    min-width: 150px;
    min-height: 40px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--button-background-color);
    border: none;
}
.register-form-submit:hover {
    background-color: var(--button-background-color-hover);
    cursor: pointer;
}


.register-to-login-question {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 26px;
}

.login-link-wrapper {
    margin: 0;
    padding: 0 0 50px 0;
}

.login-link {
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: var(--secondary-color);
    text-transform: uppercase;
}

.login-link:hover {
    text-decoration: underline;
}