.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-image: var(--main-background-image);
    background-repeat: no-repeat;
}


.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: var(--secondary-background-color);
    padding: 30px 50px;
    border-radius: 25px;
    margin-left: 400px;
}
.login-title {
    font-weight: 600;
    font-size: 32px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}



.login-input { 
    min-width: 300px;
    min-height: 50px;
    font-size: 24px;
    border-radius: 15px;
    border: 1px solid gray;
    padding-left: 20px;
}

.login-input::placeholder {
    padding-left: 0px;
}

.login-submit {
    min-width: 150px;
    min-height: 40px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--button-background-color);
    margin-top: 20px;
}

.login-submit:hover {
    background-color: var(--button-background-color-hover);
    cursor: pointer;
}

.login-question {
    margin-top: 40px;
    padding: 0;
    font-weight: 600;
    font-size: 26px;
}

.login-to-register-wrapper {
    margin: 0;
}

.login-to-register-link {
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--secondary-color)
}

.login-to-register-link:hover {
    text-decoration: underline;
}