*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-background-color: rgb(243, 239, 236);
  --secondary-background-color: rgb(214, 205, 200);
  --main-color: rgb(85, 85, 85);
  --secondary-color: #799eb7;
  --button-background-color: rgb(175, 191, 204);
  --button-background-color-hover: #DEF7FF;
  --main-background-image: url(./public/images/main-backgound.jpg);
  --card-box-shadow: 1px 1px 12px 6px #adada9;
  --card-box-shadow-hover: 1px 1px 12px 6px #e5e6d3;
}

body {
  color: var(--main-color);
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}